<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<include page="fragments/meta.html"></include>

<div id="div-Header" name = "div-Header">

	<image src="https://www.google.com/imgres?imgurl=https%3A%2F%2Ft3.ftcdn.net%2Fjpg%2F00%2F25%2F99%2F08%2F360_F_25990820_v4UxWRodctad4UxUq6qwEXIJuQtF1X2m.jpg&tbnid=LabWSAsoSS646M&vet=12ahUKEwiCn9Gfwuj-AhXtmycCHXQdB7cQMygAegUIARCbAQ..i&imgrefurl=https%3A%2F%2Fstock.adobe.com%2Ffr%2Fsearch%3Fk%3D%2522bouton%2Baccueil%2522&docid=G59PQu01CXOxmM&w=360&h=360&q=bouton%20accueil%24&ved=2ahUKEwiCn9Gfwuj-AhXtmycCHXQdB7cQMygAegUIARCbAQ"></image>

</div>
</head>
<body>

</body>
</html>